* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cee1d8;
}

main {
  min-height: 40vh;
  margin:  1rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  max-width: 500px;
  width: 90%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

li {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  background-color: #fda664;
  display: flex;
  border-radius: 0.75rem;
}

img {
  height: 10rem;
  padding: 0.50rem;
}

button {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0 2rem;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 00.75rem;
  padding: 2px;
  cursor: pointer;

  transition: 0.5s;
  font-weight: bolder;
  background-color: #cee1d8;
  color: #83563f;
}

button:hover {
  color: white;
  background-color: #83563f;
}

.title {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-info {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-info p {
  font-weight: bold;
}

.purchase-action{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.purchase-total{
  gap: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-cart {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 4px 4px 5px rgba(0.25, 0.25, 0.25, 0.25);
  max-width: 500px;
  background-color: #f6eee0;
}

.btn-change {
  max-width: 200px;
  width: 90%;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

.btn-purchase {
  padding: 20px;
  background-color: #f04842;
  color: white;
}

.btn-purchase:hover {
  color: white;
  background-color: #83563f;
}


.free-shipping {
  color: red;
  margin: 1rem;
  border: 2px solid rgb(255, 0, 0);
  padding: 5px;
  border-radius: 00.75rem;
  box-shadow: 4px 4px 5px rgba(0.25, 0.25, 0.25, 0.25);
}

.cropped1 {
  width: 150px; /* width of container */
  height: 100px; /* height of container */
  object-fit: cover;
}

.swal-back {
  color: red;
  background-color: #83563f;
}